body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

:root {
  --clr-primary: #1890ff;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.leaflet-map {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
}

.map-controller {
  overflow-y: scroll;
}

.map-controller__user-location-btn {
  width: 100%;
}

.map-controller__user-location-btn button {
  display: block;
  margin: 1em auto 1.5em;
}

.map-loading-icon {
  font-size: 3.5em;
  margin: auto;
}

.search-bar {
  display: flex;
  margin: 0 1em;
}

.search-bar input {
  margin-right: 0.5em;
  width: 28em;
}

.search-bar input:hover {
  border: 1px solid var(--clr-primary);
}

.search-bar input:focus {
  border: 1px solid var(--clr-primary);
}

.search-bar button {
  padding: 0;
  min-width: 6em;
  border: 1px solid black;
}

.search-secion {
  position: relative;
}

.sugesstion-dropdown {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #01060e;
  width: 28em;
  margin: 0 1em;
  position: absolute;
  z-index: 99;
}

.ant-card-body {
  width: fit-content;
  margin: auto;
}

.map-card,
.map-row {
  padding: 0;
}

.map-photo-card {
  display: block;
  padding: 0;
  min-width: 10em;
  min-height: 100%;
}

.map-photo-card {
  padding: 0;
  min-width: 10em;
  max-height: 15em;
}

.map-photo-card > .ant-card-body {
  height: fit-content;
  background: white;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 10px 11px 31px -11px rgba(0, 0, 0, 0.75);
  min-width: 240px;
}

.photo-info-popup .leaflet-popup-content-wrapper {
  height: 32em;
}

.map-photo-card__body {
  padding: 0 !important;
}

.map-photo-card__avatar {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.news h3 {
  text-align: center;
  margin: 0;
}

.twitter h3 {
  text-align: center;
  margin: 0;
  color: white;
}

.twitter-section {
  background-color: rgb(21 32 43);
  color: white;
}

.news-section,
.twitter-section {
  margin-top: 1em;
  display: block;
  padding: 1em;
  overflow-y: scroll;
  max-height: 22em;
  max-width: 37em;
  box-shadow: 0 0.1em 0.3em 0 #01060e;
}

.news-article {
  display: flex;
  padding: 1.5em;
  flex-direction: row;
  align-items: center;
  background: rgb(255, 241, 241);
  margin-bottom: 0.5em;
  border-radius: 1em;
  box-shadow: 0 0.1em 0.7em 0 #01060e;
}

.news-article__image img {
  width: 150px;
  height: 100px;
  margin-left: 1em;
  box-shadow: 0 5px 7px 0 #01060e;
}

.tweets__avatar img {
  border-radius: 2em;
}

.tweets__headline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweets__author {
  margin-left: 1em;
  text-align: left;
}

.tweets__author h3 {
  text-align: left;
  color: white;
}

.tweets__author h4 {
  color: #1890ff;
}

.tweets__content h4 {
  color: #1890ff;
  margin: 0;
}

.news-article__description p {
  word-break: break-word;
}

.ant-card-body {
  padding: 0;
}

.map-photo {
  max-width: 10em;
  max-height: 15em;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
}

@media only screen and (max-width: 600px) {
  .leaflet-container {
    height: 100%;
    width: 100%;
  }
  .leaflet-map {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .search-bar input {
    margin-right: 0.5em;
    width: 18em;
  }

  .sugesstion-dropdown {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #01060e;
    width: 25em;
    position: absolute;
    left: 0;
    right: 0;
    top: 46%;
    margin-left: auto;
    margin-right: auto;
  }

  .news-article {
    display: flex;
    padding: 1.5em;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 241, 241);
    margin-bottom: 0.5em;
    border-radius: 1em;
    box-shadow: 0 0.1em 0.7em 0 #01060e;
  }
}
