body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

:root {
  --clr-primary: #1890ff;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.leaflet-map {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
}

.map-controller__user-location-btn {
  width: 100%;
}

.map-controller__user-location-btn button {
  display: block;
  margin: 1em auto 1.5em;
}

.map-icon {
  font-size: 3.5em;
}

.search-bar {
  display: flex;
  margin: 0 1em;
}

.search-bar input {
  margin-right: 0.5em;
  width: 28em;
}

.search-bar input:hover {
  border: 1px solid var(--clr-primary);
}

.search-bar input:focus {
  border: 1px solid var(--clr-primary);
}

.search-bar button {
  padding: 0;
  min-width: 6em;
  border: 1px solid black;
}

.sugesstion-dropdown {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #01060e;
  width: 28em;
  margin: 0 1em;
}

.ant-card-body {
  width: fit-content;
  margin: auto;
}

.map-card,
.map-row {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .leaflet-container {
    height: 100%;
    width: 100%;
  }
  .leaflet-map {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .search-bar input {
    margin-right: 0.5em;
    width: 18em;
  }

  .sugesstion-dropdown {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #01060e;
    width: 25em;
    position: absolute;
    left: 0;
    right: 0;
    top: 46%;
    margin-left: auto;
    margin-right: auto;
  }
}
